---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@use "sass:math";
@use "sass:string";

@use "variables" with (
  $max-content-width: {{ site.max_width | default:  "930px" }}
);

@use "themes";
@use "layout";

@use "typography";
@use "navbar";
@use "footer";
@use "blog";
@use "publications";
@use "components";
@use "utilities";

@use "tabs";
@use "teachings";
@use "typograms";

body {
  font-family: "Open Sans", sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Pro", serif !important;
}
.profile .more-info,
.profile .more-info p,
.profile .more-info a {
  font-family: "Open Sans", sans-serif !important;
}
